<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449237518215-c9l56l07qrsl2k3t3o7ft5nr4m1sf7mh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449237518215-c9l56l07qrsl2k3t3o7ft5nr4m1sf7mh</string>
	<key>API_KEY</key>
	<string>AIzaSyBSS3bQbB0Nq0HjMakwTn6WJhmNgaan-gc</string>
	<key>GCM_SENDER_ID</key>
	<string>449237518215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carloscarrera.officetracker</string>
	<key>PROJECT_ID</key>
	<string>officetracker-50b8a</string>
	<key>STORAGE_BUCKET</key>
	<string>officetracker-50b8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449237518215:ios:216acba9f7acdf386ab522</string>
</dict>
</plist>